@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Tangerine&display=swap');

html {
  margin: 0;
  padding: 0;
  background: url("./stergo-pixabay-butterfly.jpg") no-repeat center fixed;
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



#snow-top-layer {
  will-change: transform;
  transform: translateY(844px);
  animation: bigger 25s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(844px);
  animation: small 20s infinite linear;
}

@keyframes small {
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}


@keyframes bigger {
 100% {
    transform: translateY(0);
    opacity: 0;
  }
}
